//Base colors
$neon-blue: #2a72c2;
$neon-green: #7fff00;
$neon-orange: #ff6600;
$neon-pink: #ff37ed;
$charcol-gray: #333333;
$white: #fff;

//breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
